<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>TJHSST Policy Debate</h3>
            <p>Join Policy Debate at Thomas Jefferson and develop important public speaking and argumentation skills.  We're open to all and cater to all levels of skill</p>
            <p style="margin-top: 1rem;">We meet weekly during Wednesday B blocks for varsity members and Friday A blocks for novices.</p>
        </div>
        <div class="footer-section">
            <h3>Connect</h3>
            <p>Follow us on social media</p>
            <div class="social-links">
                <a class="realLink" href="https://www.facebook.com/groups/181968585574068">Facebook</a>
                <a class="realLink" href="https://www.instagram.com/tj.policy/">Instagram</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2025 TJHSST Policy Debate. All Rights Reserved.</p>
        <br>
        Created by <a href="https://samuelstankiewicz.com" class="realLink" aria-label="Sam Stankiewicz">Sam Stankiewicz</a>
    </div>
</footer>