<header>
    <nav>
        <div id="leftNav">
            <a href='/' aria-label="Home" class="logo">
                <img src="/logo.svg" alt="Logo" class="topLogo">
                <span>TJ Policy Debate</span>
            </a>
            <ul class="nav-links">
                <li><a href="/about">About</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/officers">Officers</a></li>
                <li><a href="/calendar">Calendar</a></li>
            </ul>
        </div>
        <div class="auth-buttons">
            <div class="defaultAuth">
                <a href="/login" class="btn-login">Login</a>
                <a href="/register" class="btn-signup">Sign Up</a>
            </div>
            <a href='/profile' aria-label="Profile" class="topProfileLink">
                <p class="topName"></p>
                <img src='/defaultPic.svg' alt="User" class="userImageInsert">
            </a>
        </div>
        <button class="mobile-menu-toggle">☰</button>
    </nav>
</header>